@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  background: rgb(14, 14, 14);
  width: 100vw;
  overflow-x: hidden;
}
.red-blue {
  background: linear-gradient(90deg, #e73239 0.01%, #013d84 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.whasapp-div {
  position: fixed;
  top: 90%;
  right: 1%;
  z-index: 9999;
}
.img-whasapp {
  width: 50px;
  box-shadow: darkseagreen;
}

/* Navigation */
.nav-container {
  background: #ffffff;
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navlogo {
  margin: auto 0;
  width: 220px;
}

/* Header */
.header-container {
  padding: 60px 0 0 0;
  display: flex;
  margin-bottom: 60px;
}

.header-text-container {
  max-width: 600px;
  width: 100%;
  flex: 1;
}

.header-img {
  width: 100%;
  height: auto;
}

.form-container {
  background-image: url("Form\ back.png");
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  min-height: 500px;
}

.header-form {
  display: flex;
  flex-direction: column;
}

#thankYou {
  display: none;
}

.header-glass-morph {
  background: rgba(16, 16, 16, 0.06);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 40px;
  width: 100%;
}

.header-input {
  background: rgba(38, 41, 43, 0.36);
  border: 2px solid rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  padding: 20px;
  color: #fff;
}

/* language */
.popup-cont {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 5000;
}

.popup-cont h2 {
  margin: 0 0 10px;
  font-size: 16px;
}

.popup-cont button {
  display: block;
  width: 100%;
  margin: 4px 0;
  padding: 10px;

  background-color: #0069ec;
  color: white;
  border-radius: 5px;
  border-color: #0069ec;
  cursor: pointer;
  font-size: 14px;
}

.popup-cont button:hover {
  background-color: #0056b3;
}

.marquee-div {
  width: 100%;
  overflow-x: hidden;
  background-color: white;
  padding: 40px 0px;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
}

.marquee-content {
  display: inline-block;
  animation: marquee 60s linear infinite;
}

.marquee-content img {
  height: 50px;
  margin: 0 15px;
  object-fit: contain;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Brands division */
.Brands-container {
  background-color: #fff;
  flex: 1;
}

.details-container {
  background-color: white;
  flex: 1;
}

.content-container {
  width: 100%;
  max-width: 510px;
}

.center991 {
  text-align: center;
}

.brands-wrapper {
  padding: 45px 0px;
  background: white;
}

.brands-wrapper .Brands-logo {
  padding-right: 20px;
  border-right: 2px Solid #d9d9d9;
  margin-right: 20px;
  height: 50px;
}

.details-box {
  /* max-width: 510px; */
  width: 100%;
}

.details-middle {
  padding: 0 20px;
  margin: 0 20px;
  /* border: 3px solid; */
  /* border-image: linear-gradient(
    to bottom,
    rgba(161, 213, 255, 0) 0%,
    #a1d5ff 46.67%,
    rgba(161, 213, 255, 0) 100%
  );
  border-image-slice: 1; */
}
.details-container .inner-brand-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.details-container {
  justify-content: center;
}

.brand-card {
  border: 1.25px solid #1a3b7e;
  border-radius: 16px;
  padding: 1.5rem 2.5rem;
  position: relative;
  box-shadow: 6px 6px 0px 0px #1a3b7e1a;
  overflow: hidden;
}
.brands-card-icon {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 16px;
}

/* Why Zoho division */
.whygrid {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

.whyimg {
  height: 44px;
}

.hands {
  width: 480px;
}

.why-text-cont {
  max-width: 500px;
}

.handsimg {
  width: 80%;
}

/* Migration */
.migration-tool-main {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  column-gap: 80px;
  row-gap: 40px;
}

.migration-tool-img {
  display: none;
  object-fit: contain;
  max-width: 100%;
}
.img-rounded {
  border-radius: 20px;
  max-width: 600px;
}

.migration-tool-img.active {
  display: block;
}

.migration-tool-right {
  text-align: left;
  max-width: 800px;
  width: 100%;
}

.migration-tool-steps {
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
  padding: 0 0 15px;
}

.migration-tool-left-content {
  flex: 1;
}

.migration-tool-pointer {
  width: 30px;
  margin-right: 20px;
}

.migration-tool-pointer,
.migration-tool-left-content {
  display: inline-block;
  vertical-align: top;
}

.migration-tool-count {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 3px;
  border: 2px solid #ffffff;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.migration-tool-pointer-tick {
  display: none;
}

.migration-tool-pointer-tick.active {
  display: block;
  width: 20px;
}

.migration-tool-count.unactive {
  display: none;
}

.migration-tool-tab {
  display: flex;
  justify-content: space-between;
  padding: 17px 21px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.migration-tool-tab.active {
  background-color: #1b2d7e;
  border-radius: 5px;
  cursor: default;
  opacity: 1;
}

.migration-tool-content-head {
  font-size: 17px;
  padding: 0 0 4px;
  line-height: 24px;
  text-align: left;
}

.migration-tool-content-desc {
  font-size: 15px;
  line-height: 24px;
  display: none;
}

.migration-tool-tab.active .migration-tool-content-desc {
  display: block;
}

/* Offerings */
.offerings-heading {
  text-align: center;
  margin-bottom: 40px;
}

.offerings-grid {
  display: grid;
  column-gap: 30px;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.offerings-img-cont {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 100%;
  align-self: start;
  margin-right: 20px;
}

.offerings-img {
  width: 48px;
  height: 48px;
}

/* Feature */
.tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 20px;
}

.tabs button {
  text-align: left;
  background: transparent;
  color: white;
  border: none;
  padding-bottom: 10px;
  cursor: pointer;
}

.tab {
  display: none;
  color: white;
  gap: 40px;
  align-items: center;
}

.tabs-image-cont {
  flex: 1;
}

.tabs-image {
  width: 100%;
}

.tabs-text-cont {
  flex: 1;
}

.tabs-point {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.tabs-point img {
  width: 20px;
  min-width: 18px;
}

.tabs-list-cont {
  margin-top: 40px;
}

.border {
  border-right: 2px solid white;
}

/* Slider */
.slide {
  background: #0069ec;
  padding: 40px;
  height: 220px;
  min-width: 550px;
  margin-right: 20px;
  border-radius: 20px;
  margin: 40px 20px 40px 0;
}

.overflow-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* footer */

.footer-container {
  padding: 60px 0;
}

.robotImg {
  max-width: 480px;
  height: auto;
}

/* Common */

::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.flex {
  display: flex;
}

.flex-2 {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.acenter {
  align-items: center;
}

.spacebetween {
  justify-content: space-between;
}

.justifyend {
  justify-content: flex-end;
}

.allignend {
  align-items: flex-end;
}

.stretch {
  align-items: stretch;
}

.flex1 {
  flex: 1;
}

.allign-left {
  align-items: flex-start;
}

.allign-right {
  align-items: flex-end;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}

.bluebutton {
  background: #0069ec;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.blueheadingbig {
  font-size: 50px;
  font-weight: 600;
  color: #a1d5ff;
  line-height: 58px;
}

.blueheadingbigger {
  font-size: 80px;
  font-weight: 600;
  color: #a1d5ff;
  line-height: 58px;
}

.whiteheadingbig {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}

.whiteheadingnormal {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.whiteparah {
  color: #fff;
}

.subheading {
  font-size: 21px;
  line-height: 26px;
}

.normal {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.tab-button {
  font-size: 21px;
  line-height: 26px;
}

.small {
  font-size: 18px;
}

.bold {
  font-weight: 600;
}

.ml40 {
  margin-left: 40px;
}

.ml60 {
  margin-left: 60px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb60 {
  margin-bottom: 60px;
}

.mr20 {
  margin-right: 20px;
}

.mr40 {
  margin-right: 40px;
}

.pr40 {
  margin-right: 40px;
}

.p40v {
  padding: 40px 0;
}

.p60 {
  padding: 60px;
}

.p60v {
  padding-top: 60px;
  padding-bottom: 60px;
}

.subheadingwhite {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}

.flex-column {
  flex-direction: column;
}

.cta-home {
  display: flex;
  gap: 32px;
  align-items: center;
}
.brand-logos {
  max-height: 60px;
}
.whyicon {
  width: 32px;
  height: 32px;
}

.feature-section {
  width: 100%;
  background: url(./aerial-photography-streets-by-swan-lake-hefeixaxa.webp);
  background-size: cover;
}
.key-feature-section {
  width: 100%;
}
.feature-section .container,
.key-feature-section .container {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1240px;
  margin: auto;
}
.feature-heading {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
}
.feature-heading span {
  color: #a1d5ff;
}
.feature-heading-div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.feature-heading-div .line {
  width: 60%;
  height: 2px;
  background: linear-gradient(to right, transparent, #a1d5ff, transparent);
}
.real-estate-grid {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.real-estate-grid h3 {
  color: #ffffff;
  margin-top: 32px;
  font-size: 26px;
}
.card-grid {
  gap: 16px;
}
.feature-card {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* media queries */

@media only screen and (max-width: 991px) {
  .navlogo {
    height: 40px;
  }

  .bluebutton {
    padding: 16px 32px;
    font-size: 16px;
  }

  .normal {
    font-size: 18px;
    line-height: 26px;
  }

  .small {
    font-size: 16px;
  }

  .blueheadingbig {
    font-size: 40px;
    font-weight: 600;
    color: #a1d5ff;
    line-height: 44px;
  }

  .header-container {
    flex-direction: column;
  }

  .flex-2 {
    flex-direction: column;
  }

  .flex-2 {
    flex-direction: column;
  }

  .allignend {
    align-items: center;
  }

  .mr20 {
    margin-right: 10px;
  }

  .mr40 {
    margin-right: 20px;
  }

  .ml40 {
    margin-left: 20px;
  }

  .offerings-grid {
    grid-template-columns: 1fr 1fr;
    margin: 0 20px;
    margin-bottom: 40px;
  }

  .content-container {
    margin-right: 0px;
  }

  .justifycenter {
    justify-content: center;
  }

  .details-container {
    padding: 40px 0;
  }

  .details-box {
    margin-left: 0;
  }

  .Brands {
    justify-content: center;
    align-items: center;
  }

  .center991 {
    text-align: center;
  }

  .margin-t-991 {
    margin-top: 40px;
  }

  .robotImg {
    max-width: 350px;
  }

  .allign-right {
    align-items: center;
  }

  .padding-0-991 {
    padding: 0;
  }

  .offerings-grid {
    column-gap: 10px;
  }

  .subheadingwhite {
    font-size: 24px;
  }

  .form-container {
    margin-top: 40px;
  }

  .whyImageContainer {
    margin-top: 40px;
  }

  /* Migration */
  .migration-tool-main {
    flex-direction: column;
    align-items: center;
  }

  /* Feature  */
  .tab {
    flex-direction: column;
  }

  .tabs-text-cont {
    width: 80%;
  }

  .tabs-point img {
    display: inline-block;
  }

  .tabs-point {
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .column-767px {
    flex-direction: column;
  }

  .mr40 {
    margin-right: 0;
  }

  .ml40 {
    margin-left: 0;
  }

  .robotImg {
    margin-top: 40px;
  }

  .navlogo {
    height: 40px;
  }

  .bluebutton {
    padding: 16px 32px;
    font-size: 14px;
  }

  .header-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .normal {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .small {
    font-size: 14px;
    text-align: center;
  }

  .blueheadingbig {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
  }

  .header-text-container {
    margin-bottom: 40px;
  }

  .blueheadingbigger {
    font-size: 50px;
  }

  .why-text-cont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .center-767 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .offerings-img-cont {
    margin: 0 auto;
  }

  .offerings-grid {
    column-gap: 40px;
  }

  .whiteparah {
    text-align: center;
  }

  .whiteheadingnormal {
    text-align: center;
  }

  .slide {
    margin-right: 10px;
    width: 80%;
  }

  .subheadingwhite {
    text-align: center;
  }

  .centermax-767 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .offerings-grid {
    margin: 0px 0px 40px 0px;
  }

  .slider {
    margin-top: 20px;
  }

  .whiteheadingnormal {
    width: 100%;
  }

  .slide {
    padding: 20px;
    min-width: 240px;
    height: auto;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tabs {
    justify-content: center;
    gap: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .header-container {
    padding: 20px;
  }

  .header-text-container {
    margin-bottom: 20px;
    padding: 20px;
  }

  .mb40 {
    margin-bottom: 30px;
  }

  .navlogo {
    width: 130px;
  }

  .bluebutton {
    padding: 12px 16px;
    font-size: 16px !important;
  }

  .normal {
    font-size: 16px;
    line-height: 20px;
  }

  .small {
    font-size: 14px;
  }

  .brand-card .blueheadingbig {
    font-size: 34px;
    line-height: 40px;
    text-align: left;
  }

  .form-container {
    margin-top: 20px;
  }

  .Brands-container {
    padding: 0 20px;
  }
  .brand-logo-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 20px;
    place-items: center;
  }

  .brand-card {
    max-width: 170px;
    text-align: left !important;
  }

  .brand-card .whiteparah{
    text-align: left !important;
  }

  .brands-card-icon {
    background-color: #1a3b7e;
    top: 0px;
    right: 0px;
    padding: 8px;
    border-top-left-radius: 2.2px;
    border-top-right-radius: 12.36px;
    border-bottom-left-radius: 12.36px;
  }

  .brand-card-image {
    width: 26px;
  }

  .img-rounded {
    border-radius: 20px;
    max-width: 100%;
  }

  .brands-wrapper .Brands-logo {
    padding-right: 14px;
    border-right: 2px Solid #d9d9d9;
    margin-right: 14px;
    height: 30px;
  }

  .details-container {
    padding: 20px 0px;
  }

  .details-container .inner-brand-card {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  .brand-card {
    width: 100%;
    text-align: center;
  }

  .offerings-grid {
    column-gap: 10px;
  }
  .footer-cta {
    justify-content: center !important;
    align-items: center !important;
  }
  .navbar-button {
    font-size: 14px !important;
  }
  .navbar-text {
    font-size: 10px !important ;
  }

  .tabs-text-cont {
    text-align: center;
  }

  .whiteparah.normal {
    font-size: 16px !important;
  }

  .whiteheadingnormal.mb20 {
    font-size: 22px !important;
  }

  .tab-button {
    font-size: 16px;
    line-height: 20px;
  }

  .subheadingwhite.center-767 {
    font-size: 20px;
    line-height: 1.3;
  }

  .tabs-point img {
    display: inline-block;
  }
}
